[2021-03-16 16:48] Fintasys opened #1 "[Help wanted] Update Emoji"
I'm looking for help to update the emojis. If you have any good idea let me know or want to contribute feel free to do it !

[2021-03-16 16:50] Fintasys opened #2 "Support Web platform"
Every platform seems not support all of the emoji and it's difficult to filter them. I'm looking for ideas for filtering methods beside doing it manually.

[2021-03-16 19:22] poitch commented on #1
The react equivalent of emoji_picker is using https://github.com/iamcal/emoji-data

[2021-03-17 03:37] Fintasys commented on #1
@poitch Great hint, thank you ! Gonna check it out 🙇

[2021-03-18 19:07] hiteshgarg002 opened #3 "Emojis does not load on android"
Emojis are being shown on iOS but when I am trying to run it on android, then the emojis does not load.
Following is the error being shown in console.

/flutter ( 9064): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: RangeError (index): Invalid value: Not in inclusive range 0..260: 261
E/flutter ( 9064): #0      List.[] (dart:core-patch/growable_array.dart:254:60)
E/flutter ( 90

[2021-03-20 14:34] Fintasys commented on #3
@hiteshgarg002 Ah thanks for reporting, I found the issue. Will fix it tomorrow 👍

[2021-03-20 15:54] Fintasys commented on #3
Fixed in version `1.0.2`. Please have a try and let me know if it works for you now 🙇

[2021-03-21 07:27] hiteshgarg002 commented on #3
@Fintasys  Thanks its working now!!

[2021-03-21 07:27] #3 closed

[2021-04-02 09:10] vintage opened #5 "Import organization"
Would be great to organise the code in such way that app needs to perform one import instead of multiples. Right now I need to:

[code]

would rather see it like:

[code]

which exports all public parts of the library.

[2021-04-03 16:59] Fintasys commented on #5
@vintage Ah I see, great suggestion! Will change it in the next days 🙇

[2021-04-04 14:45] Fintasys commented on #5
@vintage Fixed in v1.0.3! Thanks again 🙇

[2021-04-04 14:45] #5 closed

[2021-04-18 18:17] dfdgsdfg opened #7 "Export Emoji class from emoji.dart"
Is there any reason you wouldn't export Emoji class?

`onEmojiSelected` has Catagory and Emoji class but Emoji class didn't expose.

[2021-04-21 04:40] kulture-rob-snider opened #8 "Skin Tone"
It would be great if the user could change skin tones. https://pub.dev/packages/emojis seems to have a solution for it, so you may be able to leverage that!

[2021-04-22 05:28] Fintasys commented on #7
Thanks for reporting this bug. I gonna look into it !

[2021-04-22 05:30] Fintasys commented on #8
Yes I agree, that would be nice to have. Unfortunately I don't have enough time right now, please feel free to submit a PR 🙇

[2021-04-24 03:58] Fintasys commented on #7
@dfdgsdfg I fixed it, please let me know if it works for you :)

[2021-04-27 15:11] #7 closed

[2021-05-11 13:02] rocboronat opened #10 "Show a backspace button"

[2021-05-11 13:04] rocboronat opened #11 "The emojis appear cutted"
My phone is a Samsung Galaxy S9. Maybe it's something related to the screen density?

![photo_2021-05-11_15-04-09](https://user-images.githubusercontent.com/456499/117819784-2ad7df00-b26a-11eb-8a57-8c41ffa89a8b.jpg)

Thanks for the package! 🙇

[2021-05-12 13:36] Fintasys commented on #10
Thank you for your suggestion ! Any suggestion where? Whatsapp has an extra row below the smilies with a backspace button.

[2021-05-12 13:45] Fintasys commented on #11
I can replicate the issue when I set `Settings` -> `Display` -> `Display Size` to large
I'm not sure if I can detect this setting and adjust the sizes. 🤔  If you set the display size to normal it should be displayed correctly again.
![Screenshot_1620826895](https://user-images.githubusercontent.com/11667234/117985017-4f6bae00-b373-11eb-80ed-0c5f7b92465b.png)

[2021-05-12 22:01] rocboronat commented on #11
Oh! I just tried it and you're totally right. The issue is related to the font size. The bad news is that I'm using the regular option on my Samsung S9.

So it smells that you're wrapping the Text widgets that show the emojis with a SizedBox with a static size. If that's the case, there are two options:
1. Don't wrap the Text widgets with anything that forces them to have a specific size, so the T

[2021-05-12 22:16] rocboronat commented on #10
I've tried on an iPhone and it shows the backspace at the end of the category list, and the categories appear below the emoji list instead of above. And it looks cool 👍

In the Android native app we used [vanniktech/Emoji](https://github.com/vanniktech/Emoji) and they chose to show a backspace button in the category list. It doesn't look great, but it's usable I think. The categories are above the

[2021-05-13 09:18] EsteveAguilera opened #12 "Duplicated categories tabs"
Using version `emoji_picker_flutter: ^1.0.4`  I've got duplicated categories tabs.

![image](https://user-images.githubusercontent.com/6932449/118105599-df920d80-b3dc-11eb-992a-5f66ba88b27e.png)

I've not been able to reproduce it a second time 🤷

[2021-05-13 15:04] Fintasys commented on #12
@EsteveAguilera Thanks for reporting this issue ! First time I hear about this issue, please let me know if it happens again.  I will check if can find something.

[2021-05-13 15:16] Fintasys commented on #11
@rocboronat Oh wow, good finding ! Thanks for the research 🙇  `textScaleFactor: 1` seems to fix the issue perfectly! I gonna release a new version soon, will take a look on the other issues as well before.

[2021-05-13 20:14] rocboronat commented on #11
Oh, that's great news! Glad it worked 😄 And thanks for the update and your time! 😊

[2021-05-14 16:46] Fintasys commented on #10
@rocboronat I've released 1.0.5 with font-size fix and backspace-button. Please have a look and let me know if it works !
![backspace](https://user-images.githubusercontent.com/11667234/118302614-67803080-b51f-11eb-988b-f2dc0e229b5c.png)

[2021-05-14 17:21] Fintasys commented on #11
Fix released with version 1.0.5

[2021-05-14 18:10] rocboronat commented on #10
Oh my god! Thanks a lot, @Fintasys ! 👌

[2021-05-14 19:20] rocboronat commented on #10
Tested with 1.0.5 and it works like a charm 👏 thanks!

[2021-05-14 19:20] #10 closed

[2021-05-14 19:33] rocboronat commented on #11
Hello! I'm sorry... I bring bad news. With the 1.0.5 version, the issue has improved a lot, but the emojis still appear a bit cut. Here's a screenshot to showcase the issue, and in addition, show the "box" where the emojis are printed.

![emojis-issue](https://user-images.githubusercontent.com/456499/118320008-e7949f00-b4fb-11eb-8c05-e311310e8fd3.jpg)

It's like you are applying a too aggressive p

[2021-05-16 16:04] momoleu opened #15 "Emoji are not visible when bg color is not white"

[2021-05-16 16:41] #15 closed

[2021-05-18 09:02] Fintasys commented on #11
@rocboronat Sorry just saw the comment. Gonna try to replicate 🤔

[2021-05-18 09:13] Fintasys commented on #11
I can confirm it 😔 Will look into it the next days. Thanks for pointing out !

[2021-05-18 09:19] rocboronat commented on #11
Zero worries! :·)

[2021-05-18 11:28] rocboronat commented on #12
Yey! Just happened to mee too. We're working together on the same app, hehe... It happened when pushing a new screen on the one that shows the emoji, and then pop it. When rebuilding the tree, the keyboard shown the categories duplicated.

Maybe there's a race condition?

[2021-05-18 14:40] Fintasys commented on #12
Good to have a way to replicate bugs, thanks for sharing. You both are keeping me busy 🤣 Feel free to investigate into the issues as well, I'm currently lacking a bit of time. 🙏

[2021-05-26 18:23] carlinho11 opened #16 "Espaçamento superior interno"
Como faço para diminuir ou remover completamente esse espaçamento interno?

![Tela](https://user-images.githubusercontent.com/38302156/119711840-5b0ca980-be36-11eb-8f28-ac1ab1394329.PNG)

[2021-05-27 04:39] Fintasys commented on #16
@carlinho11  There shouldn't be any space 🤔  Can you share part of your code?

[2021-05-27 13:54] carlinho11 commented on #16
Bom dia @Fintasys,

Fiz uma simulação e ocorreu o mesmo problema:

**main.dart:**

[code]

**pubspec.yaml:**

[code]

Agradeço a atenção :)

[2021-05-27 14:39] Fintasys commented on #16
I found the bug, but I don't know why. 🤔
If you add AppBar it works.
[code]
I know how to fix it and will fix it in the next version.
Thank you for reporting the bug ! 🙇

[2021-05-27 14:50] carlinho11 commented on #16
Ótimo, estou ansioso pela próxima versão.

Agradeço a sua atenção! 😊

[2021-05-27 14:51] Fintasys commented on #16
@carlinho11
Can you test? Pubspec.yaml:
[code]

[2021-05-27 15:08] carlinho11 commented on #16
@Fintasys
Testei e está tudo correto, o bug foi resolvido!

[2021-05-27 15:10] Fintasys commented on #16
Obrigado por testar! 😃

[2021-05-27 15:10] #16 closed

[2021-05-28 03:19] Fintasys commented on #11
@rocboronat I think I found a fix, could you quickly confirm by replacing the dependency in your pubspec with that?
[code]

[2021-05-30 02:05] Fintasys commented on #11
@rocboronat I have release 1.0.6 ! Thanks again for reporting 🙇

[2021-05-30 02:05] #11 closed

[2021-05-30 02:08] Fintasys commented on #12
I've tried to reproduce again because it also happened to me in the past when I did hot reload. But also with the steps above I couldn't reproduce it in current version. I doubt that it is gone but I will keep an eye on it

[2021-05-30 08:51] rocboronat commented on #11
Thank you so much for fixing the issue! ❤

[2021-05-30 20:19] rocboronat commented on #12
Oh! 😲

Maybe it happened because of the hot reload! If you want to, close the issue. If it happens again on the production app we will share it again so you can reopen the issue. Hope it never happens again! 😄

Thanks for your time, @Fintasys 😊

[2021-07-09 11:14] rocboronat opened #19 "Center the noRecentsText"
As only a `String` and `TextStyle` can be passed to the picker, there's no way to center the content of the no recent emojis page.

May you add a parameter for it? Or just use textAlign center. It will do the job in all cases I think.

Thanks!

![image](https://user-images.githubusercontent.com/456499/125069659-49febb80-e0b7-11eb-8fbb-1366f943ec47.png)

[2021-07-11 14:49] Fintasys commented on #19
@rocboronat Thanks for reporting this issue ! I agree the text should be at least centered which I have done in this PR https://github.com/Fintasys/emoji_picker_flutter/pull/20
<img width="332" alt="Screen Shot 2021-07-11 at 23 36 27" src="https://user-images.githubusercontent.com/11667234/125199694-585cfb00-e2a2-11eb-94ec-51e87a863b9d.png">
I haven't released it yet, just merged it into master.
Y

[2021-07-11 15:28] rocboronat commented on #19
Thanks! I will! 😊😊😊

[2021-07-14 06:10] nino-finch opened #21 "[Feature Request] Support customizing emoji style"
Hi loving what you build here! Just think that it'd be a great addition to the library if it also support different style of emoji e.g twemoji (for twitter), or allowing customization of how to render the emoji instead of the whole modal itself.

[2021-07-14 16:22] rocboronat commented on #19
Hello! 👋 It works wonderfully. Thanks a lot, @Fintasys! Feel free to close the issue when you consider it right 😄

[2021-07-14 16:23] rocboronat commented on #12
Some months later I didn't see it happening again... So I close the issue. If it happens again, I'll reopen it or open a new one. Thanks for the support! 🙇

[2021-07-14 16:23] rocboronat commented on #12
Oh, I don't have permissions to close issues, haha!

[2021-07-16 10:36] guenth39 opened #22 "Add option to change the animation duration for tabcontoller"
I would love to change the animation duration from one page to another in the Config. We could just add an attribute `Duration animationDuration` or `Duration pageChangeDuration` to the config and pass it to the `animateTo` function [here](https://github.com/Fintasys/emoji_picker_flutter/blob/master/lib/src/default_emoji_picker_view.dart#L95).

[2021-07-26 09:34] Fintasys commented on #22
@guenth39 Thank you for your feedback. Could consider that small change in next release. Can I ask you in what way you want to change it? More faster / slower?

[2021-07-26 09:37] Fintasys commented on #21
@nino-finch Thank you and glad you like it 🙇 Different Emoji's like twemoji seems to be difficult, at least I have no experience with that - feel free to contribute with an PR.

[2021-07-26 11:47] guenth39 commented on #22
Hey Stefan,
thanks a lot for the reply. I would like it definitely faster :)

[2021-07-27 09:00] rocboronat commented on #12
Hey! It happened on release mode. And after closing the keyboard and opening it again, it was fixed :·/ Weird. @Fintasys may you reopen the issue?

[2021-07-27 09:09] Fintasys commented on #12
@rocboronat even in release mode? That's not good 😅 I would appreciate help, otherwise I will look into the issue when I find time 🙇

[2021-07-27 09:13] rocboronat commented on #12
Zeeero hurries, of course! It's not something that happens a lot. I will take a look into it if I have time. Maybe after we released our new Flutter app! 🚀

Thanks a lot for your time 😄

[2021-08-13 13:04] gooplancton commented on #2
I'd say you can just depend on this https://pub.dev/packages/universal_platform

[2021-08-18 23:00] rocboronat commented on #12
It happened again! It's so weird it doesn't duplicate the first two tabs, as @EsteveAguilera shows in his screenshot.

[2021-08-22 15:47] Fintasys commented on #12
@rocboronat I've fixed some bugs and enable hot reload support for this library. Hopefully rebuilding the Widget completely when the state is dirty should fix this issue 🙏

[2021-08-22 16:47] rocboronat commented on #12
Ooooh thanks! If you want us to test it on producton as brave people do, count with us 😄

[2021-08-23 02:04] Fintasys commented on #22
@guenth39 I have added the change to master and gonna make a new release soon. Would be nice if you give it a try when you have time
[code]

[2021-08-23 08:10] Fintasys commented on #12
@rocboronat I'll leave that up to you 😆 I gonna release the changes soon on pub.dev if there aren't any issues reported in dev. But I'm curious about you App if it's already public, would love to see my picker in a production App 😄

[2021-08-23 08:13] rocboronat commented on #12
It's not public yet... you'll be the first one to know it when we release it! It the meantime, it's called QuitNow. We're replacing the published one, a native Android, with a Flutter one 😊

[2021-08-23 08:24] Fintasys commented on #12
Awesome ! Gotta wait and start smoking beforehand to have an actual use case 😆

[2021-08-23 22:21] rocboronat commented on #12
Hahaha! That's braver than testing on production! 😂

[2021-08-30 14:39] Fintasys commented on #22
Released with `v1.0.7`

[2021-08-30 14:39] #22 closed

[2021-08-30 14:39] Fintasys commented on #19
Released with `v1.0.7`

[2021-08-30 14:39] #19 closed

[2021-09-05 23:36] wijamad opened #23 "The view when scrolling very slow"
I dont know,Is just me or another people also.I think when scrolling or change catagory very slow.Anyone can help me?

[2021-09-06 01:28] Fintasys commented on #23
@wijamad Hey ! Could you provide some code / video so we can understand your problem better?

[2021-09-06 01:45] wijamad commented on #23
https://youtu.be/iUig0ErnRho i dont know how upload video in youtube. When i change catagory or scrolling emoji its slow but i open whatsapp emoji its'nt slow

[2021-09-06 11:51] rocboronat commented on #12
We're almost on production! Buuut the latest version of the app also has the issue. In a different way, though! It's funny :·)

![photo_2021-09-06_13-50-34](https://user-images.githubusercontent.com/456499/132213314-a8f56039-6011-4984-aff7-de7c8aa264d5.jpg)

[2021-09-06 14:13] Fintasys commented on #23
Seems something in your code might not be correct. Would you able to share it  here ?

[2021-09-06 14:15] Fintasys commented on #12
@rocboronat Argh, limited funny 😄  But at least now it repeats the whole category list and not every category icon twice. Might be a hint to locate the problem

[2021-09-10 00:55] wijamad commented on #23
sorry is my false,i open app in real device and try app not debungging but after debbuging is smoot,i will close it,sorry

[2021-09-10 00:55] #23 closed

[2021-09-10 23:08] JLuisRojas commented on #2
@Fintasys  Do you have any advancements for web and MacOS support? Maybe i can help you

[2021-09-11 05:53] Fintasys commented on #2
@JLuisRojas Thanks for bringing this up again ! I quickly looked into it and seems MacOS and Web (when used with html-render) actually works quite well. Give me a few days to test it more carefully also on other OS than MacOS in case of Web support. If it looks fine I gonna release it soon 👍

[2021-09-11 12:33] JLuisRojas commented on #2
Perfect! Thanks

[2021-09-12 18:54] ultrasandbox opened #24 "Frowned emoji not loaded correctly"
Hello,

 I am having a problem with the following frowned emoji:
![Screenshot_1631466929](https://user-images.githubusercontent.com/83548376/132999388-ec834e52-f00a-4e8a-946f-0aefd84bf104.png)

When I save it the first time, everything is fine. But when I close the app and open again, it is not rendered correctly (displays black and white emoji). Please help on this issue. Thank you!

![Screenshot

[2021-09-13 07:23] Fintasys commented on #12
@EsteveAguilera @rocboronat Could you take a quick loot at this PR? I tried again to address this issue and would like to hear your opinion. https://github.com/Fintasys/emoji_picker_flutter/pull/25 Thank you!

[2021-09-13 07:28] Fintasys commented on #24
@ultrasandbox Hey ! Thanks for your feedback ! I'm following a similar/same issue on the Flutter repository. Could you check if the mentioned work around works for you? https://github.com/flutter/flutter/issues/82785

[2021-09-13 07:31] #21 closed

[2021-09-13 10:51] aliasgarlabs commented on #2
Cheering for you mate! 💯 Also IMHO, we can prioritize just the web support as Flutter Web is a major shareholder compared to macOS and other OSes. Thanks!

[2021-09-15 08:33] ultrasandbox commented on #24
Thanks! I used Apple Color Emoji & Noto Color emoji as font family now they are showing up

[2021-09-15 08:33] #24 closed

[2021-09-21 13:18] Zverik opened #27 "On every setState() the emoji picker is redrawn"
I have a regular text field alonside the emoji picker. It has a listener to update the state every time a key is pressed: `onChanged: (value) { setState(() {...}); }`.

The issue is, on every call to `setState()` anywhere inside the containing widget, the emoji picker is redrawn from scratch: the tab is changed to the default one, the list of emoji is cleared and then slowly appears, scroll state

[2021-09-25 21:02] asnbd commented on #27
I'm also facing the same issue only when I set custom config.

[2021-09-27 09:53] Zverik commented on #27
Thanks for the tip! Your PR should indeed fix this. Also in the current version it can be resolved by adding `const` modifier to the config.

[2021-09-27 13:34] #27 closed

[2021-09-27 13:35] #12 closed

[2021-10-01 23:27] rocboronat opened #32 "It loses its state on every parent setState()"
Hello!

We went on beta ([join it if you want hihi](https://play.google.com/store/apps/details?id=com.EAGINsoftware.dejaloYa)) and found a new issue. When the parent of the picker calls setState(), the emoji picker loses its state and goes back to the first page.

Do you know any quick way to fix it? Or should we change the emoji picker itself and release a new version?

Here's an example that sho

[2021-10-02 04:12] Fintasys commented on #32
That doesn't look good 😅 Which version are you using? Did you also try current master?

[2021-10-05 09:37] rocboronat commented on #32
We are on `1.0.7` and nope, didn't try current master :·D

[2021-10-29 10:51] dna-f opened #33 "Activity category removed?"
Hi, it seems that the activity category has been removed with the following commit
https://github.com/Fintasys/emoji_picker_flutter/commit/1f2c9882bc6143b46aa8e9c0aef1cfb8e6d9f365#diff-fdfda11d45a50edbf3fafe7280bbae036f0a03fc10094e622b04e3215ad27989

Was that wanted?
Thanks

[2021-11-12 17:44] maboutik-dev commented on #33
I confirmed, why this category is missing ?

[2021-11-18 15:07] Fintasys commented on #33
It was removed by mistake but added back - I just released `v.1.0.8`
Thank you for reporting 🙇

[2021-11-18 15:07] #33 closed

[2021-11-19 05:00] bhanuka96 opened #35 "IOS Build issue after upgrade plugin to latest"
I upgrade the plugin and run the CI. CI is failed on IOS. I checked manually and it's because of the latest version of this plugin.

**Log**

[code]

[2021-11-19 05:01] bhanuka96 commented on #35
Temp solution: downgrade plugin to `1.0.7`

[2021-11-19 09:29] Fintasys commented on #35
Thank you for reporting 🙇 I will take look tomorrow!

[2021-11-19 15:10] dna-f commented on #33
You are great!
Thanks

[2021-11-20 06:04] Fintasys commented on #35
@bhanuka96 I tried to compile the example and a private project that uses the library. Both compiled without any issue on iOS. Also your error log doesn't mentioned the library with any word, I assume the error is hidden somewhere else on your side :(

[2021-11-21 14:46] #35 closed

[2021-12-25 03:04] wuhuaqing opened #36 "emoji repeat display"
hello,my widget has this problem

![image](https://user-images.githubusercontent.com/9549867/147376497-4b3207bc-97ea-48c7-a1d6-a5b9d35753fa.png)

[2021-12-25 03:06] wuhuaqing commented on #36
verson:emoji_picker_flutter: 1.0.8

[2021-12-25 03:07] wuhuaqing commented on #36
version:emoji_picker_flutter: 1.0.8

[2021-12-28 09:28] tanuj223 opened #37 "Search option for emoji?"

[2022-01-04 10:43] zhourengui commented on #37
I also have search needs, so I encapsulated a method class, I hope the author can quickly merge.[#38](https://github.com/Fintasys/emoji_picker_flutter/pull/38)

[2022-01-04 12:24] Fintasys commented on #36
@wuhuaqing Thank you for reporting ! I can confirm that there has be duplicates 🙏 I gonna fix them 👍

[2022-01-04 12:36] Fintasys commented on #36
Just to mention, even tho I fixed the genders, `Man Superhero` and `Female Superhero` as well as `Man Supervillain`  and `Female Supervillain` look very similar on Android devices by default.

[2022-01-04 13:56] Fintasys opened #41 "Introduce emoji versioning"
Sometimes the Emoji list has to be updated (fixed, extended etc.) and user that have already a local cache existing (supported emoji) won't see any updates. Therefore it is necessary to introduce versioning for the Emoji list that allows the client to regenerate the list if there were any changes.

[2022-01-11 06:08] wuhuaqing commented on #36
Thank you !!!

[2022-01-17 13:17] #37 closed

[2022-01-22 07:28] 451518849 opened #45 "Library not loaded: @rpath/libswiftCore.dylib"
When I run it on iOS Simulator device, it show this error:"xxxxxx/Build/Products/Debug-iphonesimulator/libswiftCore.dylib' (no such file)"

[2022-01-23 05:43] Fintasys commented on #45
@451518849 I can't reproduce this issue on iOS and this error message seems not to be related with this library. I would need a little bit more information to help you.

[2022-01-23 05:44] #36 closed

[2022-01-23 06:06] #8 closed

[2022-01-23 08:55] #41 closed

[2022-01-23 10:28] 451518849 commented on #45
I found  the same problem in react：[0.62 – dyld: Library not loaded: @rpath/libswiftCore.dylib #27
](https://github.com/react-native-community/upgrade-support/issues/27).
It seems happened in iOS version >= 12.2, and my  iOS Simulator version is iOS 15.0.

 I have found solution here：[This copy of libswiftCore.dylib requires an OS version prior to 12.2.0](https://stackoverflow.com/questions/553610

[2022-01-23 14:04] Fintasys commented on #45
@451518849 Mh I took a look and the problem seems not very common. I tried and could build the emoji_picker_example without any issue on my iPhone 13 iOS 15.2 Simulator. Can you check out the repository and try to run the sample in the `example` folder? If that can be build without issue there must be a problem in your project being somehow incompatible with this library 🤔

[2022-01-25 20:44] cnkygmr opened #48 "There is a bug in the new version 1.1.0"
`I/flutter (21183): type 'Null' is not a subtype of type 'bool' in type cast
I/flutter (21183): #0      Emoji.fromJson (package:emoji_picker_flutter/src/emoji.dart:30:40)
I/flutter (21183): #1      RecentEmoji.fromJson (package:emoji_picker_flutter/src/recent_emoji.dart:20:13)
I/flutter (21183): #2      MappedListIterable.elementAt (dart:_internal/iterable.dart:413:31)
I/flutter (21183): #3      L

[2022-01-26 01:38] Fintasys commented on #48
@cnkygmr Thank you for reporting. Can you tell me the steps that led to this error? I assumed it might happen when upgrading from `1.0.8` to `1.1.0` but I can't reproduce it.

[2022-01-26 03:37] Fintasys commented on #48
Can you let me know if my changes above fixes your issues?
[code]

[2022-01-26 08:04] cnkygmr commented on #48
@Fintasys I tried like this, no problem, it worked

@Fintasys I tried like this, no problem, it worked

[2022-01-26 08:10] Fintasys commented on #48
Thank you for checking, will release it as `1.1.1` 👍

[2022-01-26 08:10] #48 closed

[2022-02-07 13:14] Fintasys opened #50 "Some Recent-Emoji doesn't show skinTone indicator"
<img width="372" alt="Screen Shot 2022-02-07 at 22 14 43" src="https://user-images.githubusercontent.com/11667234/152794887-f0fb81ad-1523-4c41-bd2d-bd25e21a3cbf.png">

[2022-02-09 19:21] dokenedgar opened #51 "Skin tone overlay"
The skintone overlay doesn't close with the rest of the emojis on dismissing the emoji picker or when an empty space in the list of emojies, i.e. when none of the displayed skin tones is tapped.

Tested it on both Android and iOS.

![Screenshot_1644434067](https://user-images.githubusercontent.com/25203963/153273555-e0784f09-0157-4f80-a6f9-88998f02157a.png)
![Screenshot_1644433732](https://user-im

[2022-02-09 19:23] dokenedgar commented on #51
Forked and fixed this, as I'm using it in a project. WIll do a PR if the behavior is needed, can be discarded if what I experienced is an isolated case.

[2022-02-10 22:35] arielt opened #53 "Build fails on macOS"
[!] No podspec found for `emoji_picker_flutter` in `Flutter/ephemeral/.symlinks/plugins/emoji_picker_flutter/macos`

The issue seems to be there since 1.0.9, the workaround is to revert to 1.0.8

[2022-02-12 04:06] Fintasys commented on #51
Thank you very much for fixing this. I've also noticed that sometimes it wasn't removed 🙏  I've left a comment on your PR, please have a look!

[2022-02-12 05:19] Fintasys commented on #53
Thank you for reporting. I could reproduce it and working on a fix 👍

[2022-02-13 14:06] #51 closed

[2022-02-13 14:08] Fintasys commented on #51
I've merged it, thanks again ! If you want to use it right away you can use. Otherwise I will release a new version soon after I've took a look on 2 other issues.
[code]

[2022-02-13 14:10] #53 closed

[2022-02-13 14:12] Fintasys commented on #53
@arielt I could find some issues with the platforms and missing files, thank you for reporting the issue !
I've merged a fix, you can test it by using the code below. I will try to release a new version soon.
[code]

[2022-02-16 11:47] telostia commented on #2
It would be good to add Web support! Any progress on the web if I may ask?

[2022-02-18 11:18] Fintasys commented on #2
@telostia Unfortunately not, there has been also no progress from flutter's side to address existing issues. Eventuelly I could add custom font support so that people could optionally add the NotoColorEmoji font themselves 🤔 will think about it.

[2022-02-21 08:13] tzthantzin opened #57 "How can I get unify code from emoji?"
How can I get unify code from emoji?
I click 'grinning face', its unified code is 1F600.
How can I get that value from emoji picker?
https://unicode.org/emoji/charts-13.0/full-emoji-list.html

Thank you very much

[2022-02-22 02:31] Fintasys commented on #57
A emoji consists of runes. Simple emoji's like 'grinning face' only have 1 rune, if you add skin color etc they will have multiple runes. `1F600` is Hex which is nothing else like a number. So in dart the runes are from type `Integer` and you can easily format them to hex.

[code]
I hope that helps you !

[2022-02-22 08:52] tzthantzin commented on #57
Thank you very much @Fintasys .
It is working
Thank you very much 🙏

[2022-02-22 08:52] #57 closed

[2022-03-04 02:46] AnubhavChaubey1 opened #59 "Emoji not sent as part of message"
![Screenshot_1646361522](https://user-images.githubusercontent.com/83594567/156688722-92e0f7d9-3087-43ce-af93-a630e4c12aeb.png)

Hello team,
I'm facing a issue with your package. I am creating a message application where I use your package for sharing emojis. The issue that I'm facing is that, whenever I try to share only emoji as a message, I've to add a space as a suffix to make it shareable. Un

[2022-03-15 16:29] #59 closed

[2022-03-15 16:29] AnubhavChaubey1 commented on #59
Solved by a small hack of seeting the active state of the textcontroller. Thank you

[2022-03-22 03:01] keanallen opened #64 "Support Desktop (Windows) Platform"
This is a good shit to implement.

[2022-03-22 03:18] keanallen commented on #64
My Bad, its supported already.

[2022-03-22 03:18] #64 closed

[2022-03-30 13:01] Shaquiri1 opened #65 "Emojis not loading in Version 1.1.2"
It only shows an infinite loading spinner :/

I tried it with the provided Example in flutter version 2.10.4

[2022-03-30 13:02] Shaquiri1 commented on #65
working in Version 1.1.1

[2022-04-01 14:55] marcusgregory commented on #2
I was researching this today and found a comment:
https://stackoverflow.com/questions/52366470/how-to-check-if-an-emoji-is-supported-by-any-device-or-not

Basically it says that if you draw an emoji using the canvas and compare it to a character that you know will not be compatible (\u1fff) you can test if the emoji will be visible to the user or not.

Does anyone know how to implement this in Flu

[2022-04-01 15:12] SmithZachary commented on #2
Following, trying to implement this package into an upcoming app and am trying to figure out the web side of it.

[2022-04-12 07:58] fn-19 opened #66 "onChange in textfield not working"
hi, thank you for library.
when type emoji in textfield onchange methode not working.
how to slove it?

[2022-04-19 20:57] Paul-D-Dev commented on #65
same problem, i got an infinite loading spinner

[code]

[code]

- Message Console :
`[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: PlatformException(channel-error, Unable to establish connection on channel., null, null)`

[2022-04-20 11:04] marven88cn opened #67 "macos --- emoji Overlap together"
There was overlap when I used it on MacOS，
<img width="434" alt="WeChatee2dac3afe95ce001127b497a03f9405" src="https://user-images.githubusercontent.com/23350412/164217225-ed1ff303-92db-4f7f-9c0d-f75db5381435.png">
<img width="441" alt="WeChatc5f66a5753ea3cb94534594e7c150634" src="https://user-images.githubusercontent.com/23350412/164217265-cfc0c966-dca6-4854-8ef3-5356d8570932.png">

[2022-04-22 20:30] hatemragab opened #68 "add emoji inside text field"
how can I add emoji  not at the end of the text field what if the user needs to add emoji inside text word
or after the text field cursor

[2022-04-22 22:21] hatemragab commented on #68
[code]

[2022-04-22 22:21] #68 closed

[2022-05-11 09:43] Fintasys commented on #65
Sorry for getting back about this problem late. Does it happen when you freshly install the app or when upgrading between different EmojiPicker versions?

[2022-05-11 09:44] Fintasys commented on #66
Can you share an example?

[2022-05-11 09:49] Shaquiri1 commented on #65
No Worries. Happened after fresh installation.

[2022-05-12 13:58] fennelhans opened #71 "Flutter 3 fix"
In Flutter 3, `WidgetsBinding.instance` no longer requires a null safety check.

[code]

[2022-05-13 21:21] fennelhans commented on #71
This is how other teams are doing it, by the way:
`(WidgetsBinding.instance as WidgetsBinding).addObserver(this); `

[2022-05-14 09:50] RoyalCoder88 commented on #71
Got the same problem :( how to fix it?
`../../../Documents/flutter/.pub-cache/hosted/pub.dartlang.org/emoji_picker_flutter-1.1.2/lib/src/emoji_picker.dart:164:35: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.
 - 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('../../../Documents/flutter/packages/flutter/lib/src/widgets/binding.dart

[2022-05-19 14:59] sridhar562345 commented on #59
@AnubhavChaubey1 can you elaborate the answer?

[2022-05-24 14:23] Fintasys commented on #71
Thanks for addressing this issue, please have a look at my comment in the PR!

[2022-05-24 14:28] Fintasys commented on #67
Sorry I would love to help here, but it seems to be an issue with your project since I can't reproduce the issue. 😢
<img width="803" alt="Screen Shot 2022-05-24 at 23 27 08" src="https://user-images.githubusercontent.com/11667234/170059922-afb748f9-d6e3-4750-8209-d62bdc4aebb5.png">

[2022-05-25 22:31] h1amza commented on #71
Got the same problem :
![Capture](https://user-images.githubusercontent.com/32615603/170380342-8970f8f3-5155-4523-88da-fc3e8d662472.PNG)

[2022-06-03 12:19] bugrevealingbme opened #76 "Undefined class 'EmojiViewState'."
Undefined class 'EmojiViewState'.
Try changing the name to the name of an existing class, or creating a class with the name 'EmojiViewState'

[2022-06-07 22:06] Velkamhell97 commented on #76
Yeah, i can't create a custom view witouth this class, please add this missing class.

[2022-06-08 15:17] #66 closed

[2022-06-08 15:26] #76 closed

[2022-06-09 13:23] moonjoungyoung opened #79 "No version 1.2.1"
1.2.1 version is not installable.
Is it not deployed yet?

[code]

[2022-06-11 05:30] Fintasys commented on #79
Mh I can't reproduce this issue, have you solved it?

[2022-06-12 14:48] SteZhyv opened #80 "Search for emojis"
You need to implement a search through all emojis.

[2022-06-13 03:20] Fintasys commented on #80
This is still on my bucket list to integrate that feature by default. But so long you can implement it yourself using this [EmojiPickerUtils](https://github.com/Fintasys/emoji_picker_flutter#extended-usage-with-emojipickerutils)

[2022-06-13 03:20] #80 closed

[2022-06-13 03:21] Fintasys commented on #79
Please check the recent release `1.3.0`. I gonna close the ticket for now.

[2022-06-13 03:21] #79 closed

[2022-06-14 13:42] vernalclareai opened #81 "Emoji picker often refresh."
Version: 1.3.0

-issue: It is refreshed on setState function automatically.
So I can not choose the emojis properly.

-Expected
It should not be refreshed after rendering once.

[2022-06-19 09:41] aminedakhlii opened #83 "Support for a search function"
It would be appreciated if a search function (like the one supported in the native emoji picker of iOS) would be implemented and embedded into the package.
Example scenario : instead of spending time searching for the 😢 emoji It would be better if users could just type sad into a the search box and the related emojis automatically appear

[2022-06-19 22:10] arielt commented on #53
A bit late confirmation - the fix worked 👍

[2022-06-21 08:06] Fintasys commented on #83
@aminedakhlii It should be possible to achieve it by using `final filterEmojiEntities = await EmojiPickerUtils().searchEmoji("face");` (see readme)
I will try to update the example soon with some sample implementation.

[2022-06-22 12:12] Inihood1 opened #84 "Error: Method 'addPostFrameCallback' cannot be called on 'WidgetsBinding?' because it is potentially null."
Any solution for this problem?

[2022-06-23 11:53] PickPickPickPick commented on #84
在源码 WidgetsBinding.instance.addPostFrameCallback（）instance后面加上 ！， WidgetsBinding.instance!.addPostFrameCallback（）

[2022-07-04 10:03] mjmon commented on #84
@Fintasys  Please check  [#85 ](https://github.com/Fintasys/emoji_picker_flutter/pull/85) fix for this

[2022-07-07 05:39] nathandud opened #86 "Emoji List Mismatch (Koala)"
The Koala emoji 🐨 is mismatched with its description in the `Category.ANIMALS` map in `emoji_lists.dart`. The text description is correctly positioned at 67 between Bat 🦇 and Kangaroo 🦘. However, it is positioned at 9 in the list of emojis between Panda Face 🐼 and 🐯.

This does not affect the user experience on the base emoji picker, but it adversely affects `EmojiPickerUtils.searchEmoji` for anim

[2022-07-09 12:31] LostInDarkMath commented on #84
Just upgrade to Flutter 3.0.0 or newer by running `flutter upgrade`.

[2022-07-09 13:00] LostInDarkMath commented on #1
What exactly is to be done here?

[2022-07-11 09:14] #84 closed

[2022-07-11 09:20] Fintasys commented on #1
@LostInDarkMath Well, best case would be to write some automation to update the list the of emoji's based on some more up-to-date source. But not just adding emoji's is important but also to add them at the right place. So far I was manually adjusting the positions & order based on WhatsApp's Emoji Picker.

[2022-07-21 20:26] cnkygmr commented on #81
same problem If you don't put config, it works fine because there is const, if you enter config variables manually, it is constantly renewed

[2022-07-25 09:28] vernalclareai opened #89 "Number emoji is not rendering"
version : 1.3.0

![image](https://user-images.githubusercontent.com/61595318/180745149-3e86b485-d5fa-4849-96ef-bd7ed63760c6.png)

[2022-07-28 13:42] Fintasys commented on #86
Thank you for your contribution 🙇

[2022-07-28 13:42] #86 closed

[2022-07-28 13:43] Fintasys commented on #89
Can you provide more information about platform (iOS/Android) and platform version?

[2022-07-28 13:45] Fintasys commented on #1
@LostInDarkMath Yes, supported emoji's increase over time and with each os update. Also the [Unicode list](https://unicode.org/emoji/charts/full-emoji-list.html) of emoji's is being updated regularly (currently version 14)

[2022-07-28 13:47] #65 closed

[2022-08-02 14:25] 12people opened #92 "Linux platform support"
It'd be great if the emoji picker could also support the Linux platform.

There is a [native GTK chooser](https://docs.w3cub.com/gtk~4.0/gtkemojichooser) that could be used, but a Flutter-based emoji picker would be alright as well.

[2022-08-08 12:07] Fintasys commented on #92
Hey @12people let me check if we can add support for Linux. I haven't checked if there would be anything that would block it.

[2022-08-09 08:12] yendacoder opened #94 "Provide search example"
Would be nice to have a full example project with a search field that utilizes `EmojiPickerUtils.searchEmoji()` method and displays search results.

[2022-08-09 08:16] yendacoder opened #95 "Provide UI elements that can be used to build search results"
Related to #94: even though it is possible to build a search feature completely outside of the picker itself, doing so requires re-implementation of some UI elements of the library. Would be handy to have at least reusable grid cell widgets available to the host app, preferably with skin tone picker overlay.

[2022-08-11 02:45] Fintasys commented on #95
@yendacoder thanks for creating an issue for your improvement suggestion. I like the idea and can't think of any issues bases on this change. Would be great if you could provide a PR for that if you have time 🙏

[2022-08-11 02:52] Fintasys commented on #94
I was working on an example, but due to your recent changes and your proposed changes in the other issue I think it's better to wait or if I find time gonna make a simple example based on current state.

[2022-08-17 13:02] egnimos opened #97 "How to add the stickers option in the emoji"

[2022-08-26 05:05] Junesui opened #98 "error [ MissingPluginException ]"
E/flutter (19326): [ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: MissingPluginException(No implementation found for method checkAvailability on channel emoji_picker_flutter)
E/flutter (19326): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:165:7)
E/flutter (19326): <asynchronous suspension>
E/flutter (19326): #1      EmojiPickerInternalU

[2022-08-26 05:11] #98 closed

[2022-08-26 05:11] Junesui commented on #98
1

[2022-08-26 11:26] Junesui opened #99 "hide emoji picker"
I want to
<1>hide the emoji picker when opening the keyboard
<2>hide the emoji picker when clicked outside the emoji picker (containing the clickable button).

Is there a sample code like this?

[2022-08-26 11:36] Junesui opened #100 "config - recentsLimit"
recentsLimit: 28

Only the earliest 28 emojis can be saved, and  later selected emoji  cannot be saved?

[2022-09-02 03:51] Junesui commented on #100
1

[2022-09-02 03:51] #100 closed

[2022-09-02 06:56] Junesui commented on #81
same issue

[2022-09-05 07:24] thorito opened #101 "web support"
Any news with web support?

[2022-09-05 07:25] #101 closed

[2022-09-05 07:25] thorito commented on #2
Any news with web support?

[2022-09-09 09:31] PavelClaudiuStefan commented on #81
I had the same issue. In my case I fixed it by adding a key to the noRecents widget that replaced the default one

[2022-09-13 03:49] verhneudinec commented on #12
Hi, @Fintasys! Duplication remains. It is reproduced during a clean installation of the release or profile build of the application (Flutter 3.3.0) :(

Temporarily, passing a key (UniqueKey) to EmojiPicker may help.

[2022-09-16 10:30] hatemragab opened #102 "web support and windows"
hope this project and support other plaforms web support and windows

[2022-09-19 03:20] Fintasys commented on #50
Couldn't be reproduced for a while, issue will be closed.

[2022-09-19 03:20] #50 closed

[2022-09-19 03:21] Fintasys commented on #89
Closing due to inactivity of issuer. Please create another issue if you continue facing issues 🙏

[2022-09-19 03:21] #89 closed

[2022-09-19 03:25] Fintasys commented on #97
@egnimos I'm not planing to include a Stickers option in near future. But I would suggest you to wrap the EmojiPicker inside a `TabBarView` and implement the Stickers option individually by yourself.

[2022-09-19 03:25] #97 closed

[2022-09-19 03:28] Fintasys commented on #99
I would recommend you checking out https://pub.dev/packages/flutter_keyboard_visibility
I was working on improving the examples by using it but due to recent breaking changes I will need more time to apply the changes again.

[2022-09-19 03:31] Fintasys commented on #102
Web support is troublesome since Flutter is not addressing necessary issue for Emoji's on Web. But with recent changes on Master-Branch it might work by using custom font, I just didn't find time yet to give it another try. Feel free to give it a try and let me know.
For Windows (and Linux) I will try to add support soon if Emoji's work fine on those platforms

[2022-09-19 03:49] csandovalgt commented on #102
hi @Fintasys , could you please explain what is the issue with the web version? Im really interested in using emoji picker in web

[2022-09-19 05:34] Fintasys commented on #102
@csandovalgt I mentioned the open issues in my [PR](https://github.com/Fintasys/emoji_picker_flutter/pull/56#issue-1144762848).
But I think those issues could be solved now with the custom-font support that we recently merged into Master.

[2022-09-20 08:34] Junesui commented on #99
hi Fintasys
thanks

[2022-09-20 08:34] #99 closed

[2022-09-27 15:19] Zeroupper commented on #102
I am also very interested in using this package for web, I hope I can use it in near future :)

[2022-09-28 15:27] hatemragab commented on #102
Plugs working on windows 👏

[2022-09-28 15:30] Fintasys commented on #2
@thorito @telostia @aliasgarlabs @JLuisRojas
I made a new draft PR to add Web support. Thx to recent changes from other contributors we have custom font support now and that should help with web support. I'm planing to release current master soon as new version and web support then again in another version to keep the possibility to go back in case something is not working well. But until now you

[2022-09-28 15:38] #94 closed

[2022-09-28 15:39] #95 closed

[2022-09-28 15:44] hatemragab commented on #102
I just use your new branch for web 2 and not working in the web

[2022-09-28 16:42] hatemragab commented on #102
[code]

[2022-09-28 16:52] Fintasys commented on #102
@hatemragab I think you need to change this line in your config
[code]
to
[code]

[2022-09-28 16:55] hatemragab commented on #102
Yes if fixed thanks

[2022-09-28 16:55] #102 closed

[2022-09-29 02:31] Fintasys opened #104 "Support Windows platform"
Placeholder Issue for support for windows.

[2022-09-29 14:03] Fintasys commented on #83
@aminedakhlii You can find search example now here
https://github.com/Fintasys/emoji_picker_flutter/blob/master/example/lib/main-search.dart

[2022-09-29 14:03] #83 closed

[2022-09-29 14:58] LostInDarkMath opened #106 "Controller's length property (9) does not match the number of I/flutter (31446): tabs (17) present in TabBar's tabs property."
Context:
- emoji_picker_flutter 1.4.0
- Flutter 3.3.3
- Android 10 device (no AVD)

![WhatsApp Image 2022-09-29 at 16 49 25](https://user-images.githubusercontent.com/32729196/193064624-0ff4ebba-e9b8-4963-8759-3c0a71192847.jpeg)

[code]

The bug was not in version 1.3.1 of this library.

[2022-09-30 04:50] Fintasys commented on #106
Thx @LostInDarkMath You have an example to reproduce? Our examples seemed to work fine. Will try to take a look asap 🙇

[2022-09-30 22:15] thorito commented on #2
Great job, works fine.

Thank you very much

[2022-10-01 10:47] LostInDarkMath commented on #106
Here is an minimal example that can reproduce this bug:

## Dependencies
[code]

## Code
[code]

## Steps to reproduce
Toggle between the keyboard and the emoji picker by using the `IconButton`. But the error only occurs sometimes. It's not very deterministic but the probability is high enough hopefully ;)

## Error
[code]

Hope that helps :)

[2022-10-02 08:34] emmanuelochem opened #107 "Error building on iOS after plugin installation."
2022-10-02 09:24:39.049 xcodebuild[93995:581979] Requested but did not find extension point with identifier Xcode.IDEKit.ExtensionPointIdentifierToBundleIdentifier for extension Xcode.DebuggerFoundation.AppExtensionToBundleIdentifierMap.watchOS of plug-in com.apple.dt.IDEWatchSupportCore
  ** BUILD FAILED **
Xcode's output:
↳
    Writing result bundle at path:
    	/var/folders/s0/3q2wzgbs7n5dt04j

[2022-10-03 03:16] Fintasys commented on #107
The error message says ` Error: Method 'addPostFrameCallback' cannot be called on 'WidgetsBinding?' because it is potentially null.`

Which means probably that you project is not using Flutter 3, yet. You have to use a previous version of the plugin if you don't plan to update your project.

[2022-10-03 17:02] Fintasys commented on #106
@LostInDarkMath Thanks I could reproduce the issue and found that if `noRecents` Widget is not a const it's causing this issue. I'm not exactly sure why yet, but I assume having a non-const Widget in Config forces Flutter to rebuild it every time and then `didUpdateWidget` is calling `_updateEmojis` which is async and multiple rebuilds will lead to race condition and more tabs than we want :)

I t

[2022-10-03 17:04] Fintasys commented on #81
@vernalclareai @cnkygmr @Junesui Please make sure that all custom Widgets used in `Config` are `const` Widgets!
I will investigate a bit further to see if I can make it bullet proofed.

[2022-10-03 20:14] emmanuelochem commented on #107
Okay thanks for the early reply.
I am using flutter 2.10.4. I'll consider  updating...

[2022-10-04 02:53] #107 closed

[2022-10-04 06:44] LostInDarkMath commented on #106
@Fintasys Thanks for your fast reply!

Unfortunately, it is impossible to make `noRecents` a constant `Widget` because the displayed text is localized so that every user sees the text in his language.

I'll hope you find another solution for this. Have a nice day!

[2022-10-08 00:46] anchao-lu opened #111 "Config progressIndicatorColor dismiss"
on v1.4.0 Config progressIndicatorColor dismiss

[2022-10-08 14:49] Fintasys commented on #111
@anchao-lu Sorry can you give more details? I'm having trouble understanding what's your issue 🙇

[2022-10-11 11:14] nitesh2599 commented on #111
@Fintasys In 1.4.0 release, `progressIndicatorColor` was removed rom `Config` class, which is a breaking change.

[2022-10-17 04:44] Fintasys commented on #111
Oh right, seems I forgot to mention that in change log.
`progressIndicatorColor` was removed in the favor of `loadingIndicator` Widget so that we can provide more customize loading experience. But the speed increased significantly so that by default no LoadingIndicator is necessary.

[2022-10-17 05:01] #104 closed

[2022-10-17 05:06] #92 closed

[2022-10-17 05:08] #81 closed

[2022-10-17 05:09] Fintasys commented on #106
Will close this issue for now. I have added information about it in ReadMe. If I come across a better solution I will add it. Thank you again for the example to replicate 🙇

[2022-10-17 05:09] #106 closed

[2022-10-17 05:09] #111 closed

[2022-10-17 05:26] Fintasys commented on #2
Added support for Flutter Web with release `1.5.0`.

[2022-10-17 05:26] #2 closed

[2022-10-21 10:12] 12people opened #112 "Missing emoji font in Linux"
Trying the latest version out in Linux (specifically Ubuntu 22.04, on ARM), this is what the emoji picker looks like for me:
<img width="499" alt="image" src="https://user-images.githubusercontent.com/7361228/197171888-b6aa5b6c-95c0-4ab6-bd42-99ca75ecda79.png">

Is there a font I need to have in my assets folder for this to work?

[2022-10-21 10:58] Fintasys commented on #112
I would need to check my Linux 22.04 installation but I won't have access until end of next week.
Font can't be bundled by default with the package or the package size would increase dramatically even for those who don't need it.
Checkout the custom font example to see if you can improve it
https://github.com/Fintasys/emoji_picker_flutter/blob/master/example/lib/main-custom-font.dart

[2022-10-21 16:09] 12people commented on #112
OK, I understand.

Is there a way to check whether the default emoji font is available on Linux?

I will bundle an emoji font with the app, but I'm wondering if it would be possible to use it only as a fallback if the system one is missing.

[2022-10-21 19:37] maxkrieger opened #113 "Missing unicode 14.0.0 emojis"
I believe I'm using the latest version. I noticed several emojis are missing from the iOS set, including [🫡](https://emojipedia.org/saluting-face/). Peculiarly, I see this unhappy fellow in the list as of `1.5.0`:
<img width="146" alt="image" src="https://user-images.githubusercontent.com/2660634/197275952-1b2fb0b9-2422-4950-a57a-ceadb94f862b.png">

[2022-10-23 12:00] LostInDarkMath commented on #106
Thank you, that works fine! :+1:

[2022-10-24 22:29] Fintasys commented on #112
Unfortunately not - at least that I know. Beside Android Platform, no other platform offers any easy way to check if an emoji is supported or not.

[2022-11-01 17:35] Nico3652 opened #115 "[QUESTION] How to clear the recent emoji list ?"
Everything is in the title, I would like to clear the recent emoji list manually.
 It is possible in the current version ?

I have noticed you stored the list in shared preference but I also have a lot of data inside so I can't clear the pref.

Thanks for answers

[2022-11-16 21:53] RobertHeim commented on #113
Here is a workaround: You could add the [Noto Color Emoji Font](https://fonts.google.com/noto/specimen/Noto+Color+Emoji) to your app (**but it is 23,7MB** 😣) and use it when rendering emojis:
[code]
Use it for the picker by setting the  `emojiTextStyle` in the `Config`:
[code]

[2022-11-17 12:35] Fintasys commented on #113
Thx for answering the question @RobertHeim !
The question must have slipped my attention 🙇

[2022-11-17 17:29] maxkrieger commented on #113
That's not a workaround because the default emoji set is still incomplete, so you won't see "[🫡](https://emojipedia.org/saluting-face/)" etc. This file needs to be updated, it's been out of date since 2021: https://github.com/Fintasys/emoji_picker_flutter/blob/63eaf3ebdefdf3cb2ef1f33cd812bab54385975a/lib/src/default_emoji_set.dart

[2022-11-18 09:52] Fintasys commented on #113
@maxkrieger ah I see, that's what you meant.
This was the very first issue I created #1 and we are still missing some automation.
Currently Im busy, but if it's urgend feel free to help with updating the list 🙇

[2022-11-21 16:18] joaogoes1 opened #116 "[Problem] My app are crashing on startup"
When I try to open my app on my iPhone, my app always crashes.
It happens just when I try to open by my phone, without using XCode or Flutter CLI. When I use Flutter CLI or XCode, runs normally. The problem doesn't happen on Android.

Log caught in XCode:
[code]

[2022-11-22 05:25] Fintasys commented on #116
Is there any explicit error message somewhere? The log you provided looks like only Stacktrace to me.
Can you try to checkout this project and run the example on iOS and see if it also crashes?

[2022-11-22 16:49] Fintasys commented on #115
Method `clearRecentEmojis` was added to `EmojiPickerUtils` 👍 Please update your app to `1.5.1` to use it.

[2022-11-22 16:49] #115 closed

[2022-11-24 03:32] joaogoes1 commented on #116
Hello @Fintasys! Thanks for the response.

After an investigation I discovered the problem is I trying to launch a app, on iOs 16,  in debug mode outside of XCode. I didn't know but it is a [known issue](https://github.com/flutter/flutter/issues/60657#issuecomment-688478590) of Flutter (I'm rookie on iOs world 😅). Sorry for the false alarm.

[2022-11-24 03:32] #116 closed

[2022-11-30 17:02] RobertHeim commented on #113
@maxkrieger you can pass your own set to the picker. But I agree that the set should be v15 compliant. @Fintasys wrt automation I think we should use the machine readable file from the unicode standard: https://unicode.org/Public/emoji/15.0/emoji-test.txt (Note that most applications put the groups `Smileys & Emotion` and `People & Body` in the same semantic group.

Also I would suggest guiding pe

[2022-11-30 17:05] maxkrieger commented on #113
@RobertHeim not sure if I would use that dataset as many in that list are unimplemented on iOS, and it exhaustively enumerates the skin tone variants